<div class="container">
  <div class="exercises">
    <span class="exercises-title">Language exercises</span>
    <div class="buttons">
      <div class="example-button-row">
        <button mat-raised-button class="learning-button" routerLink="quiz">
          <div class="button-container">
            <img mat-card-image src="../../../../assets/icons/quiz-icon.png">
            <span class="menu-text">Quiz</span>
          </div>
        </button>
        <button mat-raised-button class="learning-button" routerLink="flashcards">
          <div class="button-container">
            <img mat-card-image src="../../../../assets/icons/fiszki-icon.png">
            <span class="menu-text">Flashcards</span>
          </div>
        </button>
        <button mat-raised-button class="learning-button" routerLink="fill-in-blanks">
          <div class="button-container">
            <img mat-card-image src="../../../../assets/icons/luki-icon.png">
            <span class="menu-text">Fill the gaps</span>
          </div>
        </button>
      </div>
    </div>
  </div>
  <div class="games">
    <span class="exercises-title">Language games</span>
    <div class="buttons">
      <div class="example-button-row">
        <button mat-raised-button class="learning-button" routerLink="memorygame">
          <div class="button-container">
            <img mat-card-image src="../../../../assets/icons/memo-icon.png">
            <span class="menu-text">Memo</span>
          </div>
        </button>
        <button mat-raised-button class="learning-button" routerLink="unscramble">
          <div class="button-container">
            <img mat-card-image src="../../../../assets/icons/unscramble-icon.png">
            <span class="menu-text">Unscramble</span>
          </div>
        </button>
        <button mat-raised-button class="learning-button" routerLink="puzzles">
          <div class="button-container">
            <img mat-card-image src="../../../../assets/icons/puzzle-icon.png">
            <span class="menu-text">Puzzles</span>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>
