<div class="container">
  <div class="users-list mat-elevation-z5">
    <div class="input">
      <mat-form-field>
        <input matInput [formControl]="searchControl" class="search-input" placeholder="Search users..." [matAutocomplete]="users">
      </mat-form-field>
      <mat-autocomplete #users="matAutocomplete">
        <mat-option *ngFor="let user of users$ | async" (click)="startChat(user)">
          {{ user.name }}
        </mat-option>
      </mat-autocomplete>
      <mat-divider></mat-divider>
    </div>
    <mat-selection-list [multiple]="false" [formControl]="chatHeaderControl">

        <mat-list-option *ngFor="let chat of chats$ | async" [value]="chat.id">
        <img matListAvatar [src]="chat.picture ? chat.picture : 'assets/kapitanjaszczurka.jpg'" />
        <div mat-line class="message">
          <p mat-line class="title">
            <span class="spanname">
              <ng-container class="message-icon" *ngIf="chat.toReadBy === userUID"><mat-icon>message</mat-icon></ng-container>
              {{ chat.name }}
            </span></p>
          <p mat-line class="subtitle">
            <span class="spanbio">{{ chat.bio }}</span>
        </p>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
      </mat-list-option>
    </mat-selection-list>
  </div>
  <div class="messages-list mat-elevation-z5">
    <div class="header" *ngIf="choosedChat$ | async as choosed; else noMessages">
      <div class="icon-name">
        <img [src]="choosed.picture ? choosed.picture : 'assets/kapitanjaszczurka.jpg'"/>
        {{ choosed.name }}
      </div>
      <button class="report-icon" (click)="report()"><mat-icon>report</mat-icon></button>
    </div>
    <ng-template #noMessages> No messages
    </ng-template>

    <mat-divider></mat-divider>
    <div class="chat">
      <ng-container *ngIf="user$ | async as user">
        <div class="message-container" *ngFor="let message of getMessages$ | async"
            [ngClass]="{ 'userField': message.senderId === user.uid}">
          <div class="message-text">
            {{ message.text }}
            <span class="message-date">
              {{ message.time | showDate }}
            </span>
          </div>
        </div>
        <div #chatEnd></div>
      </ng-container>
    </div>
    <div class="inputmessage" *ngIf="choosedChat$ | async">
      <mat-form-field class="formfieldmessage" >
        <input matInput [formControl]="sendMessageControl" (keydown.enter)="send()">
        <button class="send-button" mat-icon-button matSuffix (click)="send()"><mat-icon>send</mat-icon></button>
      </mat-form-field>
    </div>
  </div>
</div>
