.container {
  display: flex;
  height: 87.5vh;
}

span {
  color: black;
}

.users-list {
  width: 32.5%;
  margin: 16px;
  background-color: white;
  overflow: auto;
}

.messages-list {
  width: 67.5%;
  margin: 16px;
  display: flex;
  flex-direction: column;
}

.spanname {
  font-weight: 500;
  font-size: large;
}

.spanbio {
  font-weight: 200;
  font-size: small;
}

.input {
  margin-left: 2rem;
  margin-top: 0.5rem;
}

.inputmessage > .mat-form-field {
  display: inline-block;
  width: 100%;
  margin-bottom: 1rem;
  justify-content: flex-end;
  margin-top: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.message {
  display: flex;
  flex-direction: row;
  font-family: 'Quicksand';
}

.message > .title {
  justify-content: right;
  margin-bottom: 0;
}

.message > .subtitle {
  justify-content: right;
}

.spanbio {
  margin-top: 1em;
}

.spandate {
  border: 1px solid blue;
  font-size: 0.7rem;
}

.spanmessage {
  text-overflow: ellipsis;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

.icon-name {
  font-size: large;
  padding-left: 1rem;
  padding-top: 0.5rem;
  font-family: 'Quicksand';
}

.message-icon {
  margin-right: 0.5rem;
}

.messages-list > .chat {
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  overflow: auto;
  font-family: 'Quicksand';
}

.nomessages {
  display: grid;
  justify-content: center;
}

.chat > :first-child {
  margin-top: auto;
}

.message-container {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.message-container.userField {
  justify-content: flex-end;
}

.message-text {
  padding-top: 0.3rem;
  padding-bottom: 18px;
  padding-left: 8px;
  padding-right: 100px;
  margin-bottom: 16px;
  width: fit-content;
  overflow: auto;
  background-color: rgba(255, 198, 11, 0.37);
  border-radius: 20px 20px 20px 20px;
  position: relative;
}

.message-text > .message-date {
  position: absolute;
  padding: 0.7rem;
  bottom: 2px;
  top: 8px;
  font-size: 0.5rem;
}

.message-text.userField > .message-date {
  background-color: #4472c4;
}

.no-messages-written {
  color: yellow;
}

.icon-name > img {
  border-radius: 50%;
  object-fit: cover;
  height: 40px;
  width: 40px;
  margin-right: 1rem;
}

.report-icon {
  margin-right: 1.5rem;
  font-size: large;
  border: none;
  background-color: transparent;
}

.send-button {
  background-color: transparent;
  color: #edb2007c;
  border: none;
}

/* input placeholder color  */
::ng-deep .mat-form-field-label {
  color: #4472c4 !important;
}

/* input underline before edit color  */
::ng-deep .mat-form-field-underline{
  background-color: #31528c !important;
}

/* input underline after edit color  */
::ng-deep .mat-form-field-ripple {
  background-color: #31528c !important;
}

/* input required marker color */
::ng-deep .mat-form-field-required-marker {
  color: #4472c4 !important;
}

::ng-deep .mat-error {
  color: #4472c4 !important;
}

::ng-deep .mat-focused {
  color: #31528c !important;
}

/* width */
::-webkit-scrollbar {
  width: 7.5px;
  height: 7.5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #31528c;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #31528c;
}
