.container {
  display: flex;
  height: 85vh;
  color: red;
}

span {
  color: black;
}

.users-list {
  width: 40%;
  margin: 16px;
  border: 1px red solid;
}

.messages-list {
  width: 60%;
  margin: 16px;
  border: 1px red solid;
}

.spanname {
  font-weight: 500;
}

.input {
  margin-left: 2rem;
}

.message {
  display: flex;
  flex-direction: row;

  border: 1px solid red;
}

.message > .title {
  justify-content: right;
  font-family: 'Times New Roman', Times, serif;
}

.spandate {
  border: 1px solid blue;
  font-size: 0.7rem;
}

.spanmessage {
  text-overflow: ellipsis;
  overflow: hidden;
}

.header {
  display: flex;
  padding: 1rem;
}

.header > p {
  font-size: large;
  padding-left: 1rem;
  padding-top: 0.5rem;
}

.messages-list > .chat {
  height: 90%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.chat > :first-child {
  margin-top: auto;
}

.message-container {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.message-container.userField {
  justify-content: flex-end;
}

.message-text {
  padding-top: 8px;
  padding-bottom: 18px;
  padding-left: 8px;
  padding-right: 100px;
  margin-bottom: 16px;
  width: fit-content;
  background-color: aqua;
  position: relative;
}

.message-text > .message-date {
  position: absolute;
  padding: 1rem;
  bottom: 2px;
  top: 8px;
  font-size: 0.7rem;
}

.message-text.userField > .message-date {
  background-color: #4472c4;
}

.no-messages-written {
  color: yellow;
}

.header > img {
  border-radius: 50%;
  object-fit: cover;
  height: 40px;
  width: 40px;
}

.send-button {
  background-color: transparent;
  color: red;
  border: none;
}

/* input placeholder color  */
::ng-deep .mat-form-field-label {
  color: #4472c4 !important;
}

/* input underline before edit color  */
::ng-deep .mat-form-field-underline{
  background-color: #31528c !important;
}

/* input underline after edit color  */
::ng-deep.mat-form-field-ripple {
  background-color: #31528c !important;
}

/* input required marker color */
::ng-deep.mat-form-field-required-marker {
  color: #4472c4 !important;
}

::ng-deep.mat-error {
  color: #4472c4 !important;
}

::ng-deep.mat-focused {
  color: #31528c !important;
}
