<ng-container *ngIf="isUserLogged">
  <nav class="navbar navbar-light">
    <div class="container">
      <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item">
          <a routerLink="/partners" class="nav-link" i18n>Partners</a>
        </li>
        <li class="nav-item">
          <a routerLink="/chats" class="nav-link" i18n>Chats</a>
        </li>
        <li class="nav-item">
          <a routerLink="/profile" class="nav-link" i18n>Profile</a>
        </li>
        <li class="nav-item">
          <a routerLink="/learning" class="nav-link" i18n>Learning</a>
        </li>
      </ul>
    </div>
  </nav>
  <li class="nav-item">
    <button (click)="logout()">Log out</button>
  </li>
</ng-container>
