/* * {
  border: 1px solid red;
} */

.container {
  display: block;
  max-width: 65%;
  margin: auto;
  padding: 48px;
  border-radius: 16px;
}

.container mat-form-field {
  width: 100%;
  font-family: 'Quicksand';
}

.form-input {
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
}

.move-to-register {
  color: #31528c;
}

.text-center {
  text-align: center;
}

.forgot-password {
  font-size: 100%;
  font-family: 'Quicksand';
}

.forgot-password a {
  text-decoration: none;
  color: #31528c;
}

h1 {
  font-family: 'Quicksand';
  color: #31528c;
}

.example-button-row input {
  caret-color: #31528c;
}

.example-button-row button {
  font-family: 'Quicksand';
}

.register-container {
  font-family: 'Quicksand';
  text-align: right;
  font-size: 85%;
}

.register-button {
  font-size: 85%;
  background-color: white;
  color: #31528c;
  border: 1px solid #31528c;
}

.register-button:hover {
  transform: scale(1.05, 1.05);
}

.login-button {
  border: 1px solid #31528c;
  background-color: white;
  color: #31528c;
}

.login-button:hover {
  transform: scale(1.05, 1.05);
}

.google-button {
  padding-left: 4rem;
  padding-right: 4rem;
  border: 1px solid #31528c;
  background-color: white;
  color: #31528c;
}

.google-button:hover {
  transform: scale(1.05, 1.05);
}

/* input placeholder color  */
::ng-deep .mat-form-field-label {
  color: #4472c4 !important;
}

/* input underline before edit color  */
::ng-deep .mat-form-field-underline{
  background-color: #31528c !important;
}

/* input underline after edit color  */
::ng-deep.mat-form-field-ripple {
  background-color: #31528c !important;
}

/* input required marker color */
::ng-deep.mat-form-field-required-marker {
  color: #4472c4 !important;
}

::ng-deep.mat-error {
  color: #4472c4 !important;
}

::ng-deep.mat-focused {
  color: #31528c !important;
}



@media (max-width: 720px) {
  .container {
    max-width: 70%;
  }
}
