<div class="register-container">
  <div class="example-button-row me-3">
    <span>Don't have an account?
      <button mat-raised-button class="register-button ms-2" [routerLink]="['/signup/register']"> Sign Up </button>
    </span>
  </div>
</div>
<div class="container">
  <h1 class="center">Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="form-input">
      <div class="center mt-2">
        <div class="example-button-row">
          <button mat-raised-button class="google-button mt-3" color="accent" (click)="loginGoogle()"> Login with Google </button>
        </div>
      </div>
      <hr class="mt-4 mb-4"/>

      <mat-form-field class="example-button-row mt-2">
        <mat-label>Email address</mat-label>
        <input type="email" matInput placeholder="Type your email address" formControlName="email" class="mat-form-field-input">
        <mat-error *ngIf="email?.errors?.['required']">
          Email is <strong>required</strong>!
        </mat-error>
        <mat-error *ngIf="email?.errors?.['email']">
          Please enter a correct email format
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-button-row mt-2">
        <mat-label>Password</mat-label>
        <input autocomplete="on" min="8" type="{{(showPassword === false) ? 'password' : 'text'}}" matInput formControlName="password" class="mat-form-field-input">
        <mat-icon matSuffix style="cursor: pointer;" (click)="togglePassword('password')">
          {{ !showPassword ? 'visibility' : 'visibility_off' }}
        </mat-icon>
        <mat-error *ngIf="password?.errors?.['required']">
          Password is <strong>required</strong>!
        </mat-error>
        <mat-error *ngIf="password?.errors?.['minlength']">
          Password must have at least 8 characters
        </mat-error>
      </mat-form-field>
    </div>
    <div class="center mt-2">
      <div class="example-button-row">
        <button mat-raised-button class="login-button" color="accent"> Login </button>
      </div>
    </div>
  </form>
  <div class="forgot-password center mt-3">
    <a [routerLink]="['/signup/reset-password']">Forgot your password?</a>
  </div>
</div>
