<ng-container *ngIf="!isEmailSended; else sended">
  <div class="container">
    <h1 class="center">Reset password</h1>
    <form class="example-form" [formGroup]="reminderForm" (ngSubmit)="send()">
      <div class="form-input">
        <mat-form-field class="example-button-row mt-2">
          <mat-label>Email address</mat-label>
          <input type="email" matInput placeholder="Type your email address" formControlName="email" class="mat-form-field-input">
          <mat-error *ngIf="email?.errors?.['required']">
            Email is <strong>required</strong>!
          </mat-error>
          <mat-error *ngIf="email?.errors?.['email']">
            Please enter a correct email format
          </mat-error>
        </mat-form-field>
      </div>
      <div class="center mt-2">
        <div class="example-button-row">
          <button mat-raised-button class="send-button" color="accent"> Send </button>
        </div>
      </div>
    </form>
  </div>
</ng-container>

<ng-template #sended>
  <div class="container">
    <span class="center">Email has been send to {{ email?.value }}.</span>
    <div class="form-input">
      <div class="center mt-4">
        <div class="example-button-row">
          <button mat-raised-button class="send-button" color="accent" (click)="back()">Back</button>
          </div>
        </div>
    </div>
  </div>
</ng-template>
