<div class="container">
  <h1 class="center">Profile settings</h1>
  <form [formGroup]="profileSettingsForm" (ngSubmit)="save()">
    <div class="form-input" *ngIf="user$ | async as user">

      <mat-form-field class="example-button-row mt-2">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" class="mat-form-field-input">
      </mat-form-field>

      <mat-form-field class="example-button-row mt-2">
        <mat-label>Bio</mat-label>
        <input matInput formControlName="bio" class="mat-form-field-input">
      </mat-form-field>

            <button type="button" mat-raised-button class="uploadFileButton" (click)="uploadFile.click()">Select a photo for upload</button>
            <input #uploadFile type="file" hidden (change)="uploadImage($event, user)" />

    </div>
    <div class="center mt-2">
      <div class="example-button-row">
        <button mat-raised-button class="register-button" color="accent"> Save </button>
      </div>
    </div>
  </form>
</div>
