<div class="container">

  <div class="video">
    <div class="localVideo">
      <span>
        Your webcam
      </span>
      <div>
        <video #localVideo id="local-video" class="videoImage" autoplay playsinline [muted]=true></video>
      </div>
      <div class="nav-bar">
        <ul>
          <li>
            <button [ngClass]="{'active': micActive, 'inactive': !micActive}" type="button" class="nav-link menu-button micActive call-button" mat-raised-button (click)="unmuteMicrophone()">
              <mat-icon>mic</mat-icon>
            </button>
          </li>
          <li>
            <button [ngClass]="{'active': !micActive, 'inactive': micActive}" type="button" class="nav-link menu-button micActive call-button" mat-raised-button (click)="muteMicrophone()">
              <mat-icon>mic_off</mat-icon>
            </button>
          </li>
          <li>
            <button type="button" class="nav-link menu-button call-button" [disabled]="isCallStarted$ | async" [hidden]="isCallStarted$ | async" mat-raised-button (click)="showModal(false)">Create call</button>
          </li>
          <li>
            <button type="button" class="nav-link menu-button call-button" [disabled]="isCallStarted$ | async" [hidden]="isCallStarted$ | async" mat-raised-button (click)="showModal(true)">Join call</button>
          </li>
          <li>
            <button type="button" class="nav-link menu-button call-button" [disabled]="!(isCallStarted$ | async)" [hidden]="!(isCallStarted$ | async)" mat-raised-button (click)="endCall()">Hangup</button>
          </li>
        </ul>
      </div>
    </div>
    <div class="remoteVideo">
      <span>
        Partrner webcam
      </span>
      <div>
        <video #remoteVideo id="remote-video" class="videoImage" poster="./assets/video-placeholder.jpg" autoplay playsinline></video>
      </div>
    </div>
  </div>
</div>
