<div class="container">

  <div class="p-16">
    <div class="grid p-16">
      <app-memo-card *ngFor="let c of cardsArray" [data]="c" (choosedCard)="choosedCard(c)">
      </app-memo-card>
    </div>
    <div class="button" *ngIf="!isGameStarted">
      <button mat-raised-button color="primary" (click)="startGame()">Start game</button>
    </div>
    <div class="displayText" *ngIf="isGameStarted">
      <div *ngFor="let text of namesArray; let i = index">
        <div *ngIf="i === actualIndex">
          {{ text }}
          {{ score }}
        </div>
      </div>
    </div>
  </div>
</div>
