<div class="container mat-elevation-z6" *ngIf="isLoadedData; else noData">
  <form [formGroup]="puzzleForm">
      <div *ngFor="let puzzle of fetchPuzzle">
        <div class="answer">
          <p>{{ puzzle.question }}</p>
          <label>
            <input type="radio" formControlName="{{ puzzle.question }}" value="{{ puzzle.incorrectAnswer1 }}" />
            {{ puzzle.incorrectAnswer1 }}
          </label>
          <br />
          <label>
            <input type="radio" formControlName="{{ puzzle.question }}" value="{{ puzzle.incorrectAnswer2 }}" />
            {{ puzzle.incorrectAnswer2 }}
          </label>
          <br />
          <label>
            <input type="radio" formControlName="{{ puzzle.question }}" value="{{ puzzle.correctAnswer }}" />
            {{ puzzle.correctAnswer }}
          </label>
          <br />
        </div>
      </div>
    <div class="confirm">
      <button mat-raised-button [disabled]="!puzzleForm.valid" class="confirm-button" (click)="submit()">Submit</button>
    </div>
  </form>
</div>

<ng-template #noData>
  <div class="no-data mat-elevation-z6">
    <span>Error while fetching data</span>
    <button class="confirm-button" mat-raised-button [disabled]="" color="primary" (click)="back()">Back</button>
  </div>
</ng-template>
