<div class="container mat-elevation-z6" *ngIf="isLoadedData; else noData">
  <div class="text">
    <ng-container > {{ text }} </ng-container>
  </div>
  <div class="answers">
    <div class="answer">
      <span>Answer 1</span>
      <mat-select class="answer-input" [(value)]="userAnswers[0]">
        <mat-option *ngFor="let answer of answers" value="{{ answer }}" >{{ answer }}</mat-option>
      </mat-select>
    </div>
    <div class="answer">
      <span>Answer 2</span>
      <mat-select class="answer-input" [(value)]="userAnswers[1]">
        <mat-option *ngFor="let answer of answers" value="{{ answer }}">{{ answer }}</mat-option>
      </mat-select>
    </div>
    <div class="answer">
      <span>Answer 3</span>
      <mat-select class="answer-input" [(value)]="userAnswers[2]">
        <mat-option *ngFor="let answer of answers" value="{{ answer }}">{{ answer }}</mat-option>
      </mat-select>
    </div>
    <div class="confirm">
      <button mat-raised-button type="button" class="confirm-button" (click)="confirm()"
      [disabled]="userAnswers[0] === undefined || userAnswers[1] === undefined ||
      userAnswers[2] === undefined">Confirm</button>
    </div>
  </div>
</div>

<ng-template #noData>
  <div class="no-data mat-elevation-z6">
    <span>Error while fetching data</span>
    <button class="confirm-button" mat-raised-button color="primary" (click)="back()">Back</button>
  </div>
</ng-template>
